<!-- <div *ngIf="loaderService.isLoading| async" class="text-center loader pt-3 mt-5">
    <h3>Interceptor => Api Loading...</h3>
</div> -->
<div class="container text-center mt-5">
    <h1>Lazy Loading | Service</h1>
   
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address | Street</th>
          </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="loaderService.isLoading| async; else elseTemplate">
                <div *ngIf="loaderService.isLoading| async" class="text-center loader pt-5 mt-5">
                    <h5>Interceptor =><br> Api Loading... <br>wait for 3 seconds</h5>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <tr *ngFor="let item of userArr">
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.address.street}}</td>
                  </tr>
            </ng-template>
            
        </tbody>
      </table>
</div>