<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-6">
            <app-product-list [products]="saleProducts">
                
                <!--html content pass to child -->
                <!-- contentChild -->
                <h3 class="header" #head>Sales Products</h3>
                <p class="header" #head>offer valid for today</p>
                 <!-- contentChildren -->
                <b class="header" #head1>70% Off</b>
                <h5 class="header" #head1>Discount On Electronics...</h5>

                <a href="" class="link">See Products...</a>

            </app-product-list>
        </div>
    </div>
</div>
