<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Main Component</h1>
            <br><br>
            <input type="text" #main>
            <br><br>
            <button class="btn btn-dark" (click)="sendData(main)">Main To All</button>
            <br><br>
            <h3>Received Data From Main/Comp1/Comp2 : <b>{{name}}</b></h3>
        </div>
        <div class="col">
           <app-comp1></app-comp1>
        </div>
        <div class="col">
           <app-comp2></app-comp2>
        </div>
    </div>
</div>