.col{
    border: 2px solid black;
    width: 200px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
     border-radius: 5px;
}

b{
    color: navy;
}